#title {
    text-align: center;
    margin: 5%;
}

img {
    width: 200px;
    height: 200px;
}

p {
    margin:2%;
    font-size: large;
}

h1,h3,h2,h6 {
    margin: 2%;
}

span {
    margin-left: 2%;
    position: absolute;
}

iframe {
    margin: 5%;
}

.compra {
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.profile {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin: 1%;
}

.addcarrinho {
    float: right;
}

.separando {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 8%;
    margin-top: 0;
    margin-bottom: 0;
}

.yoda1,.yoda2,.yoda3 {
    opacity: 10%;
}

.yoda1:hover {
    opacity: 100%;
    transition: .4s;
}
.yoda2:hover {
    opacity: 100%;
    transition: .6s;
}
.yoda3:hover {
    opacity: 100%;
    transition: .8s;
}



